<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %} 
        <h3>student form</h3>
        <label for="">student id</label>
        <input type="number" name="student id"><br>
        <label for="">student name</label>
        <input type="text" name="student name"><br>
        <label for="">student age</label>
        <input type="number" name="student age"><br>
        <label for="">student gender</label>
        <input type="text" name="student gender"><br>
        <label for="">student class</label>
        <input type="number" name="student class"><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>